cmake-build-*/
.idea/
CMakeLists.txt

inc/lexer.hpp
inc/parser.hpp

src/lexer.cpp
src/parser.cpp

tests/levelA/*.o
tests/levelA/*.hex
tests/levelB/*.o
tests/levelB/*.hex
tests/levelC/*.o
tests/levelC/*.hex

assembler
linker
emulator
